.incoming{
    height: fit-content;
    width: fit-content;
}

.outgoing{
    display: grid;
    justify-content: end;
    height: fit-content;
    color:white;
}

.user-name{
    margin-left: 10px ;
}

.message-box{
    margin: 10px;
}

.background-orange{
    background-color: #2ecc71;
}

.background-light{
    background-color: #ecf0f1;
}

.message-text{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
